/* Navbar */
.navbar {
    background-color: #f8f9fa;
}

.logo {
    max-width: 10rem; /* Adjust the width as needed */
    height: 3rem;     /* Ensures the aspect ratio is maintained */
}

.carousel-caption h5 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.carousel-inner {
    border-radius: 2rem;
    margin-top: 2rem;
    max-width: 90%;
    margin-left: 5%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .nav-link {
    font-weight: bold;
    color: #000080;
}

.navbar .nav-link.active {
    color: #0040ff;
}

/* Hero Section */
.hero-slide {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px; /* Adds rounded corners */
    margin: 2rem;
}

.hero-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.hero-caption h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-caption p {
    font-size: 1.5rem;
    background-color: rgba(34, 24, 170, 0.733);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Body */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.image-box {
    position: relative;
    border: 5px solid #000;
    border-radius: 15px;
    overflow: hidden;
}

p {
    font-size: 1.1rem;
    margin-top: 20px;
}

.btn-primary {
    background-color: #001f3f;
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #003f6f;
}


footer {
    text-align: center;
    padding: 30px;
    background-color: #120145;
    color: #160143;
    font-size: 14px;
    margin-top: 90px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h5 {
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.content-section {
    display: flex;
    align-items: center;
}

.content-text {
    flex-grow: 1;
    padding-left: 20px;
    font-family: "Libre Baskerville", serif;
}

footer {
    background-color: #120145;
}

footer h5 {
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
