/* Navbar Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 18px;
    color: #001f4d;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 10px;
    color: #000080;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #003366;
}

.navbar-nav .nav-link:hover {
    color: #001f4d;
}

.logo {
    max-width: 10rem;
    height: 3rem;
}

/* Content Section Styles */
.container h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.card {
    border: 1px solid #757474;
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background-color: #160143;
    color: #dbdbdb;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body {
    padding: 1.25rem;
}

.card-body h5 {
    font-size: 1.1rem;
    color: #120145;
    margin-bottom: 0.75rem;
}

.card-body ul {
    padding-left: 20px;
}

.card-body ul li {
    font-size: 1rem;
    line-height: 1.5;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #120145;
    color: #160143;
    font-size: 14px;
    margin-top: 90px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h5 {
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.content-section {
    display: flex;
    align-items: center;
}

.content-text {
    flex-grow: 1;
    padding-left: 20px;
    font-family: "Libre Baskerville", serif;
}

footer {
    background-color: #120145;
}

footer h5 {
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}